<div class="row">
  <div class="col-md-10 col-md-offset-1" style="text-align:center;">
      <h1 class="page_title"> Edit Workout for <%= @workout.workout_datetime.strftime("%B %d, %Y") %> @ <%= @workout.workout_datetime.strftime('%l:%M %P') %> </h1>
      <h1 class="page_title"> @ <%= @workout.gym.name %> </h1>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'updateform' %>
  </div>
</div>

