<% content_for :body_class, 'welcome' %>
<div class="row">
  <div class="col-md-12">

    <% if user_signed_in? %>
      <div class="jumbotron">
        <h1>Welcome to WOD Tracker</h1>
        <p>Signed in as <%= current_user.first_name %> (<%= current_user.email %>)</p>
      </div>
    <% else %>
      <div class="jumbotron">
        <h1>Welcome to WOD Tracker</h1>
        <p> This is a test application. Sign up to tracker results from parsed WODs.</p>
        <p><a class="btn button_grey btn-default btn-lg" href='<%= new_user_registration_path %>' role="button">Sign Up</a></p>
      </div>
    <% end %>

  </div>
</div>