// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.jumbotron {
  text-align: center;
  color: #F5F5F5 !important;
  background-color: rgba(0, 0, 0, .4) !important;
}

.button_sign_in {
  background-color: #827F7F !important;
  border-color: #827F7F !important;
  color: #FFF !important;
}

